header {
  text-align: center;
}

body {
  background-color: #E0E0E0;
}

#grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid_item {
  text-align: center;
}

ul {
  padding-left: 0px;
}

li:hover {
  border-radius: 10px;
  background-color: #AAC8FF;
}